/*  Syntax Quick Reference for Jeet
    --------------------------
    column(ratios = 1, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
    span(ratio = 1, offset = 0)
    shift(ratios = 0, col_or_span = column, gutter = jeet.gutter)
    unshift()
    edit()
    center(max_width = 1410px, pad = 0)
    stack(pad = 0, align = false)
    unstack()
    align(direction = both)
    cf()

    For more info see:
        Kouto Swiss Doc: http://kouto-swiss.io/
        Jeet Doc: http://jeet.gs

    And of course, look in node_modules for axis-css and jeet
*/

@import "kouto-swiss"
@import "jeet"
normalize()
@import "_variables"
@import "_typo"
@import "_animations"
@import "_icons"
@import "_menu"
@import "_search"
@import "_elements"
@import "_header"
@import "_postlist"
@import "_post"
@import "_hightlight"
@import "_author"
@import "_footer"

table.rouge-table    
    display table

.post-content ul {
    padding-left: 1.25rem;
}

.post-content h2 {
    margin-bottom: 20px;
}

.post-content p {
    margin-bottom: 15px;
}

.post-content img {
    display: inline;
    margin: 0;
}

.task-list-item {
    list-style-type: none;
}

.task-list-item-checkbox {
    margin-right: 10px;
}

.highlight {
    padding: 10px 0;
    margin: 0px 0px 15px;
}

.highlight pre {
    margin: 0;
    padding: 0;
    min-height: 25px;
}

.highlight code {
    color: inherit !important;
    background-color: transparent !important;
}

.rouge-table {
    margin: 0;
    width: 100%;
}

.rouge-table td {
    border: 0;
    padding: 5px 15px 5px 0;
}

.rouge-table .gutter, .rouge-table .rouge-gutter {
    user-select: none;
}
